:root {
  --black-color: #1B1A17;
  --greenish-black-color: #1F1E1B;
  --greenish-black-color-hover: #242320;
  --dark-amber-color: #A35709;
  --light-amber-color: #FF8303;
  --ivory-color: #F0E3CA;
  --ivory-color-hover: #F0E3CAA3;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("https://fonts.googleapis.com/css2?family=Roboto&display=swap") format("woff");
}
body {
  font-family: Roboto, sans-serif;
  color: var(--ivory-color);
  line-height: 18px;
  background-color: var(--black-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.none {
  display: none !important;
}

.form-add-task {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-bottom: 20px;
}

.inputs-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 10px;
}
.inputs-container input {
  padding-left: 10px;
  height: 100%;
  background-color: var(--greenish-black-color);
  border: 2px solid var(--light-amber-color);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--black-color);
  color: var(--ivory-color-hover);
  box-sizing: border-box;
}
.inputs-container input:first-child {
  margin-bottom: 10px;
}
.inputs-container input:hover {
  background-color: var(--greenish-black-color-hover);
  color: var(--ivory-color);
}
.inputs-container input:hover::-moz-placeholder {
  color: var(--ivory-color-hover);
}
.inputs-container input:hover::placeholder {
  color: var(--ivory-color-hover);
}

.form-add-task button {
  background-color: transparent;
  border: 4px solid var(--light-amber-color);
  border-radius: 8px;
  color: var(--ivory-color);
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  box-sizing: border-box;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  width: 70px;
  min-height: 70px;
  justify-content: center;
}
.form-add-task button:hover {
  background-color: var(--greenish-black-color-hover);
}
.form-add-task button img {
  pointer-events: none;
  width: 50%;
}

.tasks-section {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.tasks-section .empty-task-section {
  display: flex;
  color: var(--light-amber-color);
  align-self: center;
  font-size: 30px;
}
.tasks-section .task-container {
  background-color: var(--greenish-black-color);
  border: 3px solid var(--dark-amber-color);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 5px 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.tasks-section .task-container button {
  justify-content: center;
  background-color: var(--black-color);
  border: 2px solid var(--dark-amber-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  min-height: 40px;
  min-width: 40px;
  margin-bottom: 10px;
}
.tasks-section .task-container button:hover {
  background-color: var(--greenish-black-color-hover);
}
.tasks-section .task-container img {
  pointer-events: none;
  align-self: center;
  width: 50%;
}
.tasks-section .task-container .task-container-text {
  margin-top: 5px;
  flex-direction: column;
}
.tasks-section .task-container .task-container-text h1 {
  display: flex;
  font-size: 22px;
  line-height: 26px;
}
.tasks-section .task-container .task-container-text p {
  display: flex;
  font-size: 14px;
  line-height: 16px;
}

.task-tools {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 10px;
}
.task-tools button {
  background-color: var(--greenish-black-color);
  display: flex;
  border: 2px solid var(--dark-amber-color);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  min-height: 40px;
  min-width: 40px;
}
.task-tools button:hover {
  background-color: var(--greenish-black-color-hover);
}
.task-tools button img {
  pointer-events: none;
  width: 50%;
}
.task-tools button:nth-child(2) img {
  pointer-events: none;
  padding-left: 8px;
}/*# sourceMappingURL=base.css.map */